.whitenotes {
  position: relative;
  margin-top: -130px;
  display: flex;
  z-index: 1;
}

.whitenotebutton {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  width: 60px;
  height: 200px;
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 2px;
  background-color: white;
  color: black;
}

.whitenotebutton.selected {
  background-color: #6b6b6b;
  color: white;
}

.whitenotebutton:hover {
  background-color: #e6e6e6;
}
.whitenotebutton.selected:hover {
  background-color: #6b6b6b;
}
