@font-face {
  font-family: "Bravura";
  src: url("../../../public/fonts/woff/Bravura.woff") format("woff"),
    url("../../../public/fonts/svg/Bravura.svg") format("svg"),
    url("../../../public/fonts/otf/Bravura.otf") format("otf");
}

.rp-button {
  border-radius: 7px;
  border: 1px solid black;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.rhythmContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.controlContainer {
  font-family: "Raleway", sans-serif;
  padding-top: 10px;
}

.practiceMain {
  font-family: "Bravura";
  font-size: 60px;
  padding-top: 50px;
  position: relative;
  line-height: 0px;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  /* margin-left: -200px; */
}

.rp-controlpanel {
  display: flex;
  height: 150px;
}

.rp-panelsection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.rp-controlitem {
  padding: 5px;
  display: flex;
  align-items: center;
  flex: auto;
}

.rp-bars {
  display: flex;
  justify-content: space-between;
}

.rp-singlestaff {
  position: absolute;
  padding-top: 30px;
  transform: scaleX(28);
}

.rp-bar {
  display: flex;
  position: relative;
}

.rp-barcontainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.rp-note {
  display: flex;
}

.rp-eighthbeam {
  margin-left: -1px;
  margin-right: -1px;
}

.rp-eighthflag {
  margin-top: -52.5px;
  margin-left: -1px;
  margin-right: -1px;
}

.rp-rest {
  margin-left: 17px;
  margin-right: 17px;
}

.rp-barline {
  margin: 30px 15px 0px 15px;
}

.rp-timesig {
  display: grid;
  margin-top: -22.5px;
  margin-right: 15px;
  margin-bottom: -30px;
}

.rp-tupletbrackets {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
}

.rp-bracketcontainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rp-tupletspacer {
  width: 20px;
}

.rp-tupletvalue {
  margin-top: -60px;
}

.rp-spacer {
  width: 15px;
}

.rp-quicktip {
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  max-width: 300px;
}

.start-stop-container {
  margin-bottom: 20px;
  margin-top: -30px;
  width: 445px;
  display: flex;
  justify-content: space-around;
}

.main-practice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 850px) {
  #start {
    width: 120px;
    height: 60px;
  }
  #stop {
    width: 120px;
    height: 60px;
  }

  .instructions {
    font-size: 14px;
    width: 90vw;
  }
  .rp-controlpanel {
    font-size: 14px;
    height: 100px;
  }
  .title {
    font-size: 30px;
  }
}
